<h3>ParaDrop cloud edge hybrid application demo</h3>
<p>You have given the permissions to the application.</p>
<p>The application can access some resources in ParaDrop on behalf of you now.</p>
<p>Click below link to get a list of all the routers you own.</p>
<a href="/choose-router">GET: /api/routers</a>
