<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include head.ejs %>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Cloud-Edge Hybrid Application</h1>
        <img src="images/cloud_edge.png" style="max-width: 100%">
        <p class="lead">If you have a ParaDrop router, click here to install
        our edge service on your router.</p>
        <p>
          <a class="btn btn-lg btn-success" href="/auth/oauth2" target="example_oauth2orize">
            Enable ParaDrop Service
          </a>
        </p>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h3>What is this all about?</h3>
          <p>Cloud services are great, but if you allow us to install our
          edge service on your ParaDrop router, we can deliver even better
          experiences to you whenever you are connected to your router. Running
          our service on your ParaDrop router is fast and private because it
          runs on hardware that you own.</p>

          <h3>How does it work?</h3>
          <p>This website uses the ParaDrop Cloud API to install a service as a
          chute on your ParaDrop router. Of course, your consent is needed
          before we can install anything on your router. By clicking on the
          Enable ParaDrop Service button, you will be redirected to your
          account on paradrop.org where you can review the request before
          deciding to allow or deny it.</p>

          <h3>What will be installed?</h3>
          <p>We will install a service on your router as a chute called
          "app-demo". Our service delivers a "Hello, World!" page directly from
          the router.</p>
        </div>
      </div>
    </div>

    <%- include footer.ejs %>
  </body>
</html>
