<h3>ParaDrop cloud edge hybrid application demo</h3>
<p>You have an activated ParaDrop router. Now you are viewing a web application integrated with ParaDrop cloud API.</p>
<p>The web application wants to drop some edge service(chute) into your router automatically on-demand. Of course, your consent is needed.</p>
<p>By clicking below link, you will be redirected to paradrop.org and you can allow/deny the request after reviewing it.</p>
<a href="/auth/oauth2" target="example_oauth2orize">Request access to ParaDrop</a></body>
