<h3>Routers from paradrop.org</h3>

<p>Choose a router to install the 'app-demo' chute on.</p>

<p>If successful, you will be redirected to the completed update page.</p>

<ul class="router_list">
  <% for(var i=0; i<routers.length; i++) { %>
    <li>
      <a href='/install-chute?id=<%= routers[i]._id %>'><%= routers[i].name %></a>
    </li>
  <% } %>
</ul>
